<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <meta name="viewport" content="width=device-width">
    <meta name="description" content="Voice Assistant for farmers with Web Speech API">
    <meta name="author" content="Tomomi Imura  @girlie_mac">

    <title>Farmer Assistant</title>

    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="css/style.css">
  </head>

  <body>

    <audio autoplay id="hindiPlayer">
        <source id="hindiSrc" src="" type="audio/mpeg">
          Your browser does not support the audio element.
    </audio>

    <section>
      <h1>FarmBOT</h1>
      <h2>Just A Rather Very Intelligent System</h2>

      <button><i class="fa fa-microphone"></i></button>

      <div>
          <p>You said: <em class="output-you">...</em></p>
          <p>Bot replied: <em class="output-bot">...</em></p>
      </div>
    </section>

    <footer>
      <p>Developed by: Abheet, Bhavay, Hemant, Rishabh</p>
      <p>Contact information: <a href="#">
      We don't want to be contacted.</a>.</p>
    </footer>

    <script src="/socket.io/socket.io.js"></script>
    <script src="js/script.js"></script>
  </body>
</html>